h2= title

!= messages()

form(method="post",action="/servers/"+server._id)
  input(name='_method', value='PUT', type='hidden')
  p
    label Title
    br
    input(type="text", name="server[title]", value=server.title)

  p
    label Hostname
    br  
    textarea(name="server[hostname]")=server.hostname

  p
    label Port
    br  
    textarea(name="server[port]")=server.port

  p
    label Username
    br  
    textarea(name="server[username]")=server.username

  p
    label Password
    br  
    textarea(name="server[password]")=server.password

  input(type="hidden", name="server[_id]", value=server._id)

  input(type="submit", value="Submit")

  &nbsp;
  a(class='destroy', href='/server/'+server._id, title="delete") Delete
  &nbsp;
  a(href='/servers', title="cancel") Cancel
